@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f9;
}

.container {
  max-width: 800px; /* Reduce container width */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px; 
  height: 150px; 
  margin: 0 auto;
  display: block;
  mix-blend-mode: multiply;
}

h1, p {
  color: #1d1d1f;
  font-size: 1em; /* Reduce font size */
}

.algotxt, .cryptotxt {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #353535;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none; 
  width: 100%; 
  text-align: left; 
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%; /* Full width */
  margin-top: 20px;
}

.dropdown, .next-link {
  margin-top: 50px; /* Reduce margin */
}

.algotxt, .cryptotxt {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #353535;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  z-index: 1;
  transition: max-height 0.3s ease;
}

.algorithm, .btc, .eth, .tet, .xrp, .bnb {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  color: #353535;
  transition: background-color 0.3s ease;
  border: none;
  width: 100%;
}

/*
.btc {
  border: 2px solid #f2a900;
}

.eth {
  border: 2px solid gray;
}

.tet {
  border: 2px solid #26A17B;
}

.xrp {
  border: 2px solid black;
}

.bnb {
  border: 2px solid gold;
}
*/

.algorithm:hover, .btc:hover, .eth:hover, .tet:hover, .xrp:hover, .bnb:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.next-link {
  transition: margin-top 0.3s ease;
  margin-top: 50px;
  text-align: center;
  padding: 10px 20px;
  background-color: #353535;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  width: 95%;
  display: inline-block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;  
}

.chart-container {
  height: 400px;
  width: 100%;
}

.table-container {
  width: 100%;
  margin-top: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.widget {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
  padding: 20px;
  margin-bottom: 20px;
}

.chart-widget {
  height: 400px;
}

.table-widget {
  overflow-x: auto;
}

.widget, .chart-widget, .table-widget {
  flex: 1;  
  margin: 10px;  
}


.back-link {
  margin-top: 50px;
  text-align: center;
  display: block;
  padding: 10px;
  color: #ffffff;
  background-color: #007bff;
  text-decoration: none;
  width: fit-content;
  border-radius: 5px;
}

.back-link:hover {
  text-decoration: underline;
}
.header {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0 .5rem .5rem rgba(132, 200, 183, 0.18);
  transition: height 0.3s ease;
}
.header img{
  height: inherit;
  margin-left: auto;
  display: block;
  margin-right: auto;
}
.header:hover{
  height: 125px;
  box-shadow: none;
}
.boxes {
  display: grid; 
  grid-template-columns: auto 340px;
  width: 1300px;
  height: 360px;
  gap: 40px;
  margin: 40px auto 40px auto;
}
.boxes2 {
  /* display: grid;  */
  /* grid-template-columns: auto 340px; */
  width: 1300px;
  height: 360px;
  margin: 40px auto 40px auto;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2rem 3rem rgba(132, 200, 183, 0.18);
  transition: scale 0.3s ease;
}
.boxes3 {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  width: 1300px;
  height: 360px;
  gap: 40px;
  margin: 40px auto 40px auto;
}
.b4, .b5, .b6{
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2rem 3rem rgba(132, 200, 183, 0.18);
  transition: scale 0.3s ease;
}
.boxes2 h1{
  font-size: 13px;
  text-align: center;
}

.b1 {
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 2rem 3rem rgba(132, 200, 183, 0.18);
  display: grid;
  grid-template-columns: 280px 2px auto;
  transition: scale 0.3s ease;

}

.b1:hover, .b2:hover, .boxes2:hover, .b4:hover, .b5:hover, .b6:hover {
  box-shadow: none;
  scale: 1.03;
}

.b2 {
  background-color: white;
  justify-content: center;
  border-radius: 40px;
  /* margin-left: -20px; */
  /* position: relative; */
  box-shadow: 0 2rem 3rem rgba(132, 200, 183, 0.18);
  transition: scale 0.3s ease;
}


.b3 {
  background-color: white;
  justify-content: center;
  box-shadow: 0 2rem 3rem rgba(132, 200, 183, 0.18);
  border-radius: 40px;
}

.txt {
  padding-top: 30px;
  padding-left: 30px;
  color: 545456;
  font-size: 15px;
  /* display: inline-flex; */
  
}
.txt2 {
  padding-top: 30px;
  padding-left: 105px;
  color: 545456;
  font-size: 15px;
  
}
.b1 p {
  margin-bottom: 23px;
  margin-left: 30px;
  font-size: 12px;
}
.donut {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
  width: 200px;
  display: inline-block;
}
.donut2 {
  width: 200px;
  margin-top: 30px;
  margin-left: 40px;
}
.v-line {
  border-left: 3px dashed #bfbfbf; 
}
.b2 {
  padding-top: 50px;
}
.b2 p{
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Poppins';
  font-size: 20px;
  text-align: center;
}
.h-line {
  margin-left: 20px;
  border-top: 3px dotted #bfbfbf; 
  width: 300px;
}
.chart {
  width: 1270px;
  height: 300px;
  margin-left: 10px;
  padding-top: 20px;
}
.c1 {
  padding-top: 76px;
  height: 230px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.b4 p, .b5 p, .b6 p{
  padding-left: 30px;
  padding-top: 30px;
}
.b4 h1, .b5 h1, .b6 h1 {
  position: absolute;
  font-size: 60px;
  padding-left: 30px;
  color: green;
}
.boxes4 {
  display: grid; 
  grid-template-columns: 406.66px auto;
  width: 1300px;
  height: 360px;
  gap: 40px;
  margin: 40px auto 40px auto;
}
.b8 {
  background-color: white;
  border-radius: 40px;
}