body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
}

.container {
  max-width: 800px; /* Reduce container width */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px; 
  height: 150px; 
  margin: 0 auto;
  display: block;
  mix-blend-mode: multiply;
}

h1, p {
  color: #1d1d1f;
  font-size: 1em; /* Reduce font size */
}

.algotxt, .cryptotxt {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #353535;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none; 
  width: 100%; 
  text-align: left; 
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%; /* Full width */
  margin-top: 20px;
}

.dropdown, .next-link {
  margin-top: 50px; /* Reduce margin */
}

.algotxt, .cryptotxt {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #353535;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  z-index: 1;
  transition: max-height 0.3s ease;
}

.algorithm, .btc, .eth, .tet, .xrp, .bnb {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  color: #353535;
  transition: background-color 0.3s ease;
  border: none;
  width: 100%;
}

/*
.btc {
  border: 2px solid #f2a900;
}

.eth {
  border: 2px solid gray;
}

.tet {
  border: 2px solid #26A17B;
}

.xrp {
  border: 2px solid black;
}

.bnb {
  border: 2px solid gold;
}
*/

.algorithm:hover, .btc:hover, .eth:hover, .tet:hover, .xrp:hover, .bnb:hover {
  background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.next-link {
  transition: margin-top 0.3s ease;
  margin-top: 50px;
  text-align: center;
  padding: 10px 20px;
  background-color: #353535;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.back-link {
  margin-top: 30px;
  color: #007bff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}
